<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Listado de estudiantes</title>
	<!-- Main CSS-->
	<link href="css/main.css" rel="stylesheet" media="all">
</head>
<body>
	<style>
		body {
		  font: normal medium/1.4 sans-serif;
		}
		table {
		  border-collapse: collapse;
		  width: 100%;
		}
		th, td {
		  padding: 0.75rem;
		  text-align: left;
		  border: 1px solid #eee;
		}
		tbody tr:nth-child(odd) {
		  background: #ccc;
		}
	</style>
	<div class="page-wrapper p-t-45 p-b-50">
		<div class="wrapper wrapper--w790">
			<table style="margin-bottom: 5%;">
				<thead>
					<th>Código</th>
					<th>Nombre</th>
					<th>Apellido</th>
					<th>Edad</th>
					<th>Estado</th>
				</thead>
				<th:block >
				<tr>
					<th th:text="${estudiante.codigo}"/>
					<th th:text="${estudiante.nombre}"/>
					<th th:text="${estudiante.apellido}"/>
					<th th:text="${estudiante.edad}"/>
					<th th:text="${estudiante.estadoDelegate}"/>
				</tr>
				</th:block>
			</table>
			<form th:action="@{/estudiantes}">
				<button class="btn btn--radius-2 btn--red" type="submit">Regresar</button>
			</form>
		</div>
	</div>

</body>
</html>