<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    

    <!-- Title Page-->
    <title>Tarea 5 - LaboPNC0120</title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Ingreso de nuevo estudiante</h2>
                </div>
                <div class="card-body">
                    <form method="POST" th:action=@{/ingresarEstudiante} th:object="${estudiante}">
                        <div class="form-row m-b-55">
                            <div class="name">Nombre</div>
                            <div class="value">
                                <div class="row row-space">
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="first_name" th:field="*{nombre}">
                                            <label class="label--desc">Nombre</label>
                                            <span th:errors="*{nombre}" style="color: red"></span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <div class="input-group-desc">
                                            <input class="input--style-5" type="text" name="last_name" th:field="*{apellido}">
                                            <label class="label--desc">Apellido</label>
                                            <span th:errors="*{apellido}" style="color: red"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Carne</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="carne" th:field="*{carne}">
                                    <span th:errors="*{carne}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Carrera</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" name="carrera" th:field="*{carrera}">
                                    <span th:errors="*{carrera}" style="color: red"></span>
                                </div>
                            </div>
                        </div>
                        
                        <div sytle="display: flex;">
                            <a href="/listado"><button class="btn btn--radius-2 btn--red" type="button" style="margin-right: 50px">Lista de estudiantes</button></a>
                            <button class="btn btn--radius-2 btn--red" type="submit">Guardar estudiante</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Jquery JS-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="vendor/select2/select2.min.js"></script>
    <script src="vendor/datepicker/moment.min.js"></script>
    <script src="vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>

</body>

</html>
